modules = ["python-3.11", "python3"]

[nix]
channel = "stable-25_05"
packages = ["freetype", "glibcLocales", "lcms2", "libimagequant", "libjpeg", "libtiff", "libwebp", "libxcrypt", "openjpeg", "tcl", "tk", "zlib"]

[deployment]
deploymentTarget = "gce"
run = ["sh", "-c", "python app.py"]

[workflows]
runButton = "Project"

[[workflows.workflow]]
name = "Project"
mode = "parallel"
author = "agent"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "Server"

[[workflows.workflow]]
name = "Server"
author = "agent"

[workflows.workflow.metadata]
outputType = "webview"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "python app.py"
waitForPort = 5000

[[ports]]
localPort = 5000
externalPort = 80

[[ports]]
localPort = 33033
externalPort = 4200

[[ports]]
localPort = 33489
externalPort = 6000

[[ports]]
localPort = 33873
externalPort = 3002

[[ports]]
localPort = 34479
externalPort = 8099

[[ports]]
localPort = 35037
externalPort = 8000

[[ports]]
localPort = 35417
externalPort = 5173

[[ports]]
localPort = 36035
externalPort = 5000

[[ports]]
localPort = 38189
externalPort = 3003

[[ports]]
localPort = 38309
externalPort = 3000

[[ports]]
localPort = 38995
externalPort = 3001

[[ports]]
localPort = 39271
externalPort = 9000

[[ports]]
localPort = 42793
externalPort = 8008

[[ports]]
localPort = 42829
externalPort = 6800

[[ports]]
localPort = 46499
externalPort = 8080

[[ports]]
localPort = 46575
externalPort = 8081
