modules = ["python-3.11", "python3"]

[nix]
channel = "stable-25_05"
packages = ["freetype", "glibcLocales", "lcms2", "libimagequant", "libjpeg", "libtiff", "libwebp", "libxcrypt", "openjpeg", "tcl", "tk", "zlib"]

[deployment]
deploymentTarget = "gce"
run = ["sh", "-c", "python app.py"]

[workflows]
runButton = "Project"

[[workflows.workflow]]
name = "Project"
mode = "parallel"
author = "agent"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "Server"

[[workflows.workflow]]
name = "Server"
author = "agent"

[workflows.workflow.metadata]
outputType = "webview"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "python app.py"
waitForPort = 5000

[[ports]]
localPort = 5000
externalPort = 80

[userenv]

[userenv.shared]
TICKER_API_BASE_URL = "http://98.83.226.138"
TICKER_API_KEY = "E537gTrXqYA4QVm_JAsG3A-oo3zxKf9C-nIM-ShICRs"
